<?xml version   ="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.iC0rraxX.camera"
    versioncode = "2"
    version     = "1.0.1">
    
    <name>Camera API</name>
    
    <content src="index.html"/>
    <icon src="icon.png" width="256" height="256" />
    
    <description>
        Camera API
    </description>
    
    <author>
        aku
    </author>
        
    <preference name="phonegap-version" value="3.6.0" />
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>      

    <!-- for Android -->
    <preference name="orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="9" />
</widget>

